<ul>
    <li>
        Find out more <a href="/about/">about me</a> and see what I'm doing <a href="/now/">now</a>.
    </li>
    <li>
        Read <a href="/posts/">my posts</a>,
        see <a href="/tags/">my tags</a>,
        explore <a href="/ideas/">some ideas</a>
    </li>
    <li>
        Find me on 
        <a href="https://github.com/waleedhkhan/">github</a>,
        <a href="https://www.linkedin.com/in/waleedhk/">linkedin</a> and
        <a href="https://twitter.com/askwaleedkhan/">twitter</a>
    </li>
</ul>
