---
layout: layouts/default
title: Personal Website
---

{% include "components/theme.njk" %}


<header class="flow | gap-x-large">
  
  <h1>Waleed H.Khan</h1>
  Hi, Servus, Grias-di !
    
  <p class="measure">
    Welcome to my personal digital garden. A wild garden, loosely tended. It’s something in between a personal blog and a wiki. It's a collection of evolving notes, essays, and ideas that aren't strictly organised by their publication date. They're inherently exploratory.
  </p>

  <p class="measure">
    <b>#whoami:</b> I am a software engineer based in Berlin, specialized in designing and operations of large-scale e-commerce systems for more than a decade... <a href="/about">read more.</a>
  </p>

</header>

<article id="blog" class="gap-xx-large">
  <header class="gap-large">
    <h2>Thoughts</h2>
    <ul class="horizontal | tertiary-text">
      <li>
        <a href="/rss.xml" target="_blank" referrer="noreferrer">
          RSS Feed
        </a>
      </li>
      <li>
        <a href="/feeds/posts.json" target="_blank" referrer="noreferrer">
          JSON Feed
        </a>
      </li>
    </ul>
  </header>

  {% set posts = collections.post %}
  {% include "components/posts.njk" %}

</article>

<article id="listening" class="gap-xx-large">
  <header class="gap-large">
    <h2>Reading</h2>
  </p>
</header>

<section class="columns" data-cols="2">
  <div>
    <h3 class="subtitle">Books I’ve read</h3>
    <ol>
      {%- for book in books-%}
        {% if loop.index0 < 10 %}

          <a href="{{ book.volumeInfo.infoLink }}" target="_blank" rel="noreferrer noopener">
            {{ book.volumeInfo.title }}
          </a>

          <p class="gap-small">
            <small>{{ book.volumeInfo.authors }}</small>
          </p>

        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>
<div>
  <h3 class="subtitle">Books I want to read</h3>
  <ol>
    {%- for bookshelve in bookshelves -%}
      {% if loop.index0 < 10 %}

        <li>
          <a href="{{ bookshelve.volumeInfo.infoLink }}" target="_blank" rel="noreferrer noopener">
            {{ bookshelve.volumeInfo.title }}
          </a>
          <p class="gap-small" maxlength="2">
            <small>{{ bookshelve.volumeInfo.authors }}</small>
          </p>

        </li>
      {% endif %}

    {% endfor %}
  </ol>

</div>
</section>
</article>

<article id="watching" class="gap-x-large">

<header class="gap-large">
<h2>Watching</h2>
<p class="measure">Recently watched tv shows</p>

</header>

<ol class="shows | columns">
{%- for show in shows -%}
  <li>
    <img src="https://image.tmdb.org/t/p/original/{{ show.poster_path }}" width="500" height="500" loading="lazy" alt="{{ show.name }}" title="{{ show.name }}" class="gap"/>
    <div class="flow | tertiary-text">
      <p>{{ show.name }}{{ show.original_title}}</p>
    </div>
  </li>
{% endfor %}
</ol>

</article>

<article id="watching" class="gap-xx-large">
<header class="gap-large">
<p class="measure">Recently watched movies</p>

</header>

<ol class="movies | columns">
{%- for movie in movies -%}
  <li>
    <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" width="500" height="500" loading="lazy" alt="{{ movie.name }}" title="{{ movie.name }}" class="gap"/>
    <div class="flow | tertiary-text">
      <p>{{ movie.title }}</p>
    </div>
  </li>
{% endfor %}
</ol>

</article>

<article id="scrapbook" class="flow | gap-xx-large">
<header>
<h2>Photo Wall</h2>
<p class="measure gap">
      Photos I recently shared on the web
    </p>
</header>

<div class="gallery | masonry">
{% for item in scrapbook %}
  <figure>
    <a href="{{ item.pageURL if item.pageURL else 'https://savee.it' + item.url }}">
      <img src="{{ item.asset.image.thumbnail }}" loading="lazy" width="{{ item.asset.image.width }}"
          height="{{ item.asset.image.height }}" alt="{{ item.name }}"/>
    </a>
  </figure>
{% endfor %}
</div>
</article>

<hr class="gap-x-large">