@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://ucarecdn.com/cfc91a0b-4da2-4a7b-8e1f-c38edf190c6f/Intervar.woff2") format("woff2");

}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://ucarecdn.com/5f7511c8-cbf2-45a8-9098-f6178225d90f/Interitalicvar.woff2") format("woff2");
}


@font-face {
  font-family: Pitch;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://ucarecdn.com/9d76fc59-b129-4e46-83bd-5beb9a97cd5b/") format("woff2");
}

@font-face {
  font-family: Oswald;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://ucarecdn.com/41b72db1-0f60-45e7-b21d-62c980af2ff9/") format("woff2");
}
