html {
  font-size: 12px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--text-body);
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
  margin: var(--space-large) 0 0 0;
  padding: 0 var(--space-small);
  text-rendering: optimizelegibility;
  line-height: 1.5;
  letter-spacing: -0.004em;
}

img {
  display: block;
  width: 100%;
  height: auto;
  background-color: var(--color-primary);
}

figure {
  margin: 0;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 16px;
  }

  body {
    padding: 0 var(--space-default);
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 15px;
  }

  body {
    padding: 0 5vw;
    margin-top: var(--space-xx-large);
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 1.15vw;
  }

  body {
    padding: 0 15vw;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 1vw;
  }
}

.visually-hidden {
  clip: rect(0 0 0 00);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}

.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.5rem;
  margin-inline: auto;
  float:right;
  background: hsl(0deg 0% 88% / 22%);
  border-radius: 20px;
  
}

.color-picker input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  box-shadow: 0 0 0 2px var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
  border: solid 1px #eee;

}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
  --radio-color: #000;
}
.color-picker input[type="radio"]#yellow {
  --radio-color: #433333;
}
.color-picker input[type="radio"]#blue {
  --radio-color: #4e5b66;
}